@charset "utf-8";
@import url(sanitize.css);

html {
  font-size: 62.5%;
}
body {
  padding: 30px;
  background-color: #f6f7fb;
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding-inline-start: 0; /* user agent stylesheet(Chrome)の40px指定を上書き，ナビゲーションリンクの左側のpaddingを削除。 */
}
a:link,
a:visited,
a:hover,
a:active {
  color: #7c5119;
  text-decoration: none;
}
.item {
  width: 180px;
  margin-bottom: 4px;
  padding: 8px;
  border-bottom: 3px solid;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
.item-m {
  width: 364px;
}
.item-l {
  width: 732px;
}
.item .image {
  display: block;
  width: 100%;
  height: 109px; /* 画像読み込み完了前にMasonry動作時，itemが重なる現象の対策。 */
}
.item-m .image {
  height: 146px; /* 画像読み込み完了前にMasonry動作時，itemが重なる現象の対策。 */
}
.item-l .image {
  height: 403px; /* 画像読み込み完了前にMasonry動作時，itemが重なる現象の対策。 */
}
.item .category {
  margin: 15px 9px 10px;
  color: #aaa;
  letter-spacing: 1px;
  font-family: "Trebuchet MS", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.item .category::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 2px solid;
  border-radius: 50%;
  vertical-align: middle;
}
.item .description {
  margin: 10px;
  line-height: 1.5;
}
.item > a {
  /* itemのpaddingがa(リンク)領域になっていないための対策 */
  display: block;
  margin: -8px -8px -11px;
  padding: 8px 8px 11px;
  border-radius: inherit;
  color: #777; /* リンクに設定した色(#7c5119)と異なる色でitemのdescriptionを表示するための設定 */
  transition: all 0.3s;
}
.item > a:hover {
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}
.item-maindish,
.item-maindish .category::before {
  border-color: #ffc0cb;
}
.item-appetizer,
.item-appetizer .category::before {
  border-color: #76c047;
}
.item-column,
.item-column .category::before {
  border-color: #fff100;
}
.item-breaktime,
.item-breaktime .category::before {
  border-color: #c1efff;
}
.header {
  padding: 25px 0;
  text-align: center;
  border-bottom: none;
}
.logo {
  width: 136px;
  height: 136px;
  transition: transform 0.3s;
}
.logo:hover {
  transform: rotate(360deg);
}
.nav {
  margin: 35px auto 10px;
}
.nav-item {
  margin-top: 20px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.3rem;
}
.nav-item a {
  display: inline-block;
}
.nav-item a::after {
  content: "";
  display: block;
  width: 0;
  margin: 6px auto 0;
  border-bottom: 1px solid #7c5119;
  transition: width 0.3s ease-in-out;
}
.nav-item a:hover::after {
  width: 100%;
}
.image-group {
  position: relative;
  background: #000;
}
.image-group::after {
  content: "MORE";
  position: absolute;
  width: 155px;
  height: 55px;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 2em;
  color: #fff;
  border: solid 5px #fff;
  padding: 10px 16px;
  letter-spacing: 1px;
  text-align: center;
}
.item > a:hover img {
  opacity: 0.5;
}
.item > a:hover .image-group::after {
  left: 50%;
  transition: all 0.3s ease-in-out;
}
